*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111a29;
    color: #fff;
    font-family: "Roboto", sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.sec1{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
}
.sec2{
    width: 10%;
    display: flex;
    justify-content: center;
}

.container{
    border: 1px solid gray  ;
    width: 200px;
    border-radius: 5px;
    background: #161b22;
}
.image, .info{
    padding: 20px 15px;
}
.info{
    border-top:1px solid gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
.active__form{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #238636;
    font-size: 30px;
    color: white;
}
.wrap__form{
    display: none;
}
nav{
    padding: 20px;
    border-bottom:1px solid gray;
}
.form{
    position: absolute;
    top: 16%;
    left: 35%;
    background: #161b22;
    color: #fff;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
}
.form__container{
    padding: 20px;
}
.form__header{
    display: flex;
    justify-content: end;
    border-bottom:1px solid gray;
}
.form__body{
    border-bottom:1px solid gray;
    height: 55%;
}
.form__buttons{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 14px;

}
.add, .reset{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.add{
    background: #238636;
}
.reset{
    background: #f85149;
}
.close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #f85149;
    color: white;

}

